<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>greetings</title>
    <link href="/public/css/style1.css" rel="stylesheet">
</head>
<body>
  <marquee behavior="scroll" direction="right">Warm wishes on this occassion of Diwali from us</marquee>

    <div class="circle">
  <h1> Happy<br> <span>Diwali  <%=Uname%> </span></h1>
    <div class="light"></div>
  </div>
 <a class="rainbow rainbow-2" href="/mail" >Send wishes on mail</a>
</form>
</body>
</html> 